In [1]:
import sqlalchemy
sqlalchemy.__version__

'2.0.32'

In [2]:
from sqlalchemy import create_engine
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True)

In [3]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2024-08-09 19:22:46,186 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:22:46,187 INFO sqlalchemy.engine.Engine select 'hello world'
2024-08-09 19:22:46,188 INFO sqlalchemy.engine.Engine [generated in 0.00127s] ()
[('hello world',)]
2024-08-09 19:22:46,188 INFO sqlalchemy.engine.Engine ROLLBACK

In [4]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

2024-08-09 19:22:54,905 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:22:54,906 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)
2024-08-09 19:22:54,907 INFO sqlalchemy.engine.Engine [generated in 0.00229s] ()
2024-08-09 19:22:54,908 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2024-08-09 19:22:54,909 INFO sqlalchemy.engine.Engine [generated in 0.00051s] [(1, 1), (2, 4)]
2024-08-09 19:22:54,910 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

2024-08-09 19:23:01,469 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:23:01,470 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2024-08-09 19:23:01,471 INFO sqlalchemy.engine.Engine [cached since 6.563s ago] [(6, 8), (9, 10)]
2024-08-09 19:23:01,471 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-09 19:23:24,745 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:23:24,746 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2024-08-09 19:23:24,747 INFO sqlalchemy.engine.Engine [generated in 0.00166s] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2024-08-09 19:23:24,749 INFO sqlalchemy.engine.Engine ROLLBACK

In [7]:
with engine.connect() as conn:
    result = conn.execute(text("select x, y from some_table"))

    for x, y in result:
        print(f"x : {x}, y : {y}")

2024-08-09 19:23:39,896 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:23:39,897 INFO sqlalchemy.engine.Engine select x, y from some_table
2024-08-09 19:23:39,898 INFO sqlalchemy.engine.Engine [generated in 0.00175s] ()
x : 1, y : 1
x : 2, y : 4
x : 6, y : 8
x : 9, y : 10
2024-08-09 19:23:39,899 INFO sqlalchemy.engine.Engine ROLLBACK

In [8]:
with engine.connect() as conn:
    result = conn.execute(text("select x, y from some_table"))

    for row in result:
        print(f"x : {row[0]}, y : {row[1]}")

2024-08-09 19:23:47,798 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:23:47,798 INFO sqlalchemy.engine.Engine select x, y from some_table
2024-08-09 19:23:47,799 INFO sqlalchemy.engine.Engine [cached since 7.903s ago] ()
x : 1, y : 1
x : 2, y : 4
x : 6, y : 8
x : 9, y : 10
2024-08-09 19:23:47,800 INFO sqlalchemy.engine.Engine ROLLBACK

In [9]:
with engine.connect() as conn:
    result = conn.execute(text("select x, y from some_table"))

    for dict_row in result.mappings():
        x = dict_row["x"]
        y = dict_row["y"]
        print(f"x : {x}, y : {y}")

2024-08-09 19:24:04,512 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:24:04,513 INFO sqlalchemy.engine.Engine select x, y from some_table
2024-08-09 19:24:04,513 INFO sqlalchemy.engine.Engine [cached since 24.62s ago] ()
x : 1, y : 1
x : 2, y : 4
x : 6, y : 8
x : 9, y : 10
2024-08-09 19:24:04,514 INFO sqlalchemy.engine.Engine ROLLBACK

In [10]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table WHERE y > :v"), {"v": 2})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-09 19:24:34,593 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:24:34,594 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ?
2024-08-09 19:24:34,595 INFO sqlalchemy.engine.Engine [generated in 0.00227s] (2,)
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2024-08-09 19:24:34,597 INFO sqlalchemy.engine.Engine ROLLBACK

In [11]:
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}],
    )
    conn.commit()

2024-08-09 19:24:57,033 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:24:57,034 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2024-08-09 19:24:57,035 INFO sqlalchemy.engine.Engine [cached since 122.1s ago] [(11, 12), (13, 14)]
2024-08-09 19:24:57,036 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-09 19:25:46,320 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:25:46,321 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2024-08-09 19:25:46,322 INFO sqlalchemy.engine.Engine [cached since 141.6s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2024-08-09 19:25:46,323 INFO sqlalchemy.engine.Engine ROLLBACK

In [14]:
from sqlalchemy.orm import Session

stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y")
with Session(engine) as session:
    result = session.execute(stmt, {"y": 6})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-09 19:28:20,875 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:28:20,875 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ? ORDER BY x, y
2024-08-09 19:28:20,875 INFO sqlalchemy.engine.Engine [generated in 0.00028s] (6,)
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2024-08-09 19:28:20,876 INFO sqlalchemy.engine.Engine ROLLBACK

In [15]:
with Session(engine) as session:
    result = session.execute(
        text("UPDATE some_table SET y=:y WHERE x=:x"),
        [{"x": 9, "y": 11}, {"x": 13, "y": 15}],
    )
    session.commit()

2024-08-09 19:28:35,384 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:28:35,386 INFO sqlalchemy.engine.Engine UPDATE some_table SET y=? WHERE x=?
2024-08-09 19:28:35,388 INFO sqlalchemy.engine.Engine [generated in 0.00147s] [(11, 9), (15, 13)]
2024-08-09 19:28:35,389 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-09 19:28:55,973 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 19:28:55,974 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2024-08-09 19:28:55,975 INFO sqlalchemy.engine.Engine [cached since 331.2s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 11
x: 11  y: 12
x: 13  y: 15
2024-08-09 19:28:55,976 INFO sqlalchemy.engine.Engine ROLLBACK

In [17]:
a={1 :"one", 2 : "two", 3 :"three"}

In [18]:
dir(a)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [19]:
print(a.__getitem__.__doc__)

x.__getitem__(y) <==> x[y]

In [21]:
class Test:
    def __init__(self):
        self.a = {1 :"one", 2 : "two", 3 :"three"}

    def __getitem__(self, x):
        return self.a[x]

In [22]:
test = Test()

In [23]:
test.a

{1: 'one', 2: 'two', 3: 'three'}

In [25]:
test[2]

'two'

In [35]:
class Test2:
    def __getitem__(self, x):
        with engine.connect() as conn:
            result = conn.execute(text("SELECT x, y FROM some_table WHERE x == :x"), {"x": x})
            for row in result:
                print(f"x: {row.x}  y: {row.y}")
            return row.y

In [36]:
test2 = Test2()

In [37]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-09 20:00:02,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 20:00:02,166 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2024-08-09 20:00:02,166 INFO sqlalchemy.engine.Engine [cached since 2198s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 11
x: 11  y: 12
x: 13  y: 15
2024-08-09 20:00:02,167 INFO sqlalchemy.engine.Engine ROLLBACK

In [39]:
test2[11]

2024-08-09 20:00:21,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-09 20:00:21,976 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE x == ?
2024-08-09 20:00:21,977 INFO sqlalchemy.engine.Engine [cached since 53.69s ago] (11,)
x: 11  y: 12
2024-08-09 20:00:21,978 INFO sqlalchemy.engine.Engine ROLLBACK

12