In [1]:
import sqlalchemy
sqlalchemy.__version__

'2.0.32'

In [3]:
from sqlalchemy import create_engine
engine = create_engine("sqlite+pysqlite:///tuto.db", echo=True)

In [5]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2024-08-12 21:55:49,751 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 21:55:49,753 INFO sqlalchemy.engine.Engine select 'hello world'
2024-08-12 21:55:49,754 INFO sqlalchemy.engine.Engine [cached since 650.9s ago] ()
[('hello world',)]
2024-08-12 21:55:49,756 INFO sqlalchemy.engine.Engine ROLLBACK

In [6]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

2024-08-12 21:58:52,528 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 21:58:52,530 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)
2024-08-12 21:58:52,531 INFO sqlalchemy.engine.Engine [generated in 0.00236s] ()
2024-08-12 21:58:52,534 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2024-08-12 21:58:52,535 INFO sqlalchemy.engine.Engine [generated in 0.00101s] [(1, 1), (2, 4)]
2024-08-12 21:58:52,536 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

2024-08-12 22:03:39,830 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:03:39,833 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2024-08-12 22:03:39,834 INFO sqlalchemy.engine.Engine [cached since 287.3s ago] [(6, 8), (9, 10)]
2024-08-12 22:03:39,836 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-12 22:07:27,365 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:07:27,366 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2024-08-12 22:07:27,367 INFO sqlalchemy.engine.Engine [generated in 0.00229s] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2024-08-12 22:07:27,370 INFO sqlalchemy.engine.Engine ROLLBACK

In [9]:
with engine.connect() as conn:
    result = conn.execute(text("select x, y from some_table"))

    for x, y in result:
        print(f"x : {x}, y : {y}")

2024-08-12 22:18:50,902 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:18:50,903 INFO sqlalchemy.engine.Engine select x, y from some_table
2024-08-12 22:18:50,903 INFO sqlalchemy.engine.Engine [generated in 0.04837s] ()
x : 1, y : 1
x : 2, y : 4
x : 6, y : 8
x : 9, y : 10
2024-08-12 22:18:50,905 INFO sqlalchemy.engine.Engine ROLLBACK

In [10]:
with engine.connect() as conn:
    result = conn.execute(text("select x, y from some_table"))

    for row in result:
        print(f"x : {row[0]}, y : {row[1]}")

2024-08-12 22:26:34,886 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:26:34,888 INFO sqlalchemy.engine.Engine select x, y from some_table
2024-08-12 22:26:34,888 INFO sqlalchemy.engine.Engine [cached since 464.1s ago] ()
x : 1, y : 1
x : 2, y : 4
x : 6, y : 8
x : 9, y : 10
2024-08-12 22:26:34,892 INFO sqlalchemy.engine.Engine ROLLBACK

In [11]:
with engine.connect() as conn:
    result = conn.execute(text("select x, y from some_table"))

    for dict_row in result.mappings():
        x = dict_row["x"]
        y = dict_row["y"]
        print(f"x : {x}, y : {y}")

2024-08-12 22:26:39,247 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:26:39,248 INFO sqlalchemy.engine.Engine select x, y from some_table
2024-08-12 22:26:39,249 INFO sqlalchemy.engine.Engine [cached since 468.4s ago] ()
x : 1, y : 1
x : 2, y : 4
x : 6, y : 8
x : 9, y : 10
2024-08-12 22:26:39,251 INFO sqlalchemy.engine.Engine ROLLBACK

In [12]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table WHERE y > :v"), {"v": 2})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-12 22:27:52,675 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:27:52,676 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ?
2024-08-12 22:27:52,677 INFO sqlalchemy.engine.Engine [generated in 0.00173s] (2,)
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2024-08-12 22:27:52,677 INFO sqlalchemy.engine.Engine ROLLBACK

In [13]:
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}],
    )
    conn.commit()

2024-08-12 22:32:57,210 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:32:57,212 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2024-08-12 22:32:57,213 INFO sqlalchemy.engine.Engine [cached since 2045s ago] [(11, 12), (13, 14)]
2024-08-12 22:32:57,215 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-12 22:33:01,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:33:01,324 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2024-08-12 22:33:01,325 INFO sqlalchemy.engine.Engine [cached since 1534s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2024-08-12 22:33:01,326 INFO sqlalchemy.engine.Engine ROLLBACK

In [15]:
from sqlalchemy.orm import Session

stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y")
with Session(engine) as session:
    result = session.execute(stmt, {"y": 6})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-12 22:36:09,516 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:36:09,517 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ? ORDER BY x, y
2024-08-12 22:36:09,517 INFO sqlalchemy.engine.Engine [generated in 0.00027s] (6,)
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2024-08-12 22:36:09,518 INFO sqlalchemy.engine.Engine ROLLBACK

In [16]:
with Session(engine) as session:
    result = session.execute(
        text("UPDATE some_table SET y=:y WHERE x=:x"),
        [{"x": 9, "y": 11}, {"x": 13, "y": 15}],
    )
    session.commit()

2024-08-12 22:38:27,027 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:38:27,030 INFO sqlalchemy.engine.Engine UPDATE some_table SET y=? WHERE x=?
2024-08-12 22:38:27,031 INFO sqlalchemy.engine.Engine [generated in 0.00129s] [(11, 9), (15, 13)]
2024-08-12 22:38:27,033 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-12 22:38:38,616 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-12 22:38:38,617 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2024-08-12 22:38:38,618 INFO sqlalchemy.engine.Engine [cached since 1871s ago] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 11
x: 11  y: 12
x: 13  y: 15
2024-08-12 22:38:38,621 INFO sqlalchemy.engine.Engine ROLLBACK

In [18]:
from sqlalchemy import MetaData
metadata_obj = MetaData()

In [19]:
from sqlalchemy import Table, Column, Integer, String
user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30)),
    Column("fullname", String),
)

In [20]:
user_table

Table('user_account', MetaData(), Column('id', Integer(), table=<user_account>, primary_key=True, nullable=False), Column('name', String(length=30), table=<user_account>), Column('fullname', String(), table=<user_account>), schema=None)

In [21]:
user_table.c.name

Column('name', String(length=30), table=<user_account>)

In [22]:
user_table.c.keys()

['id', 'name', 'fullname']

In [45]:
user_table.primary_key

PrimaryKeyConstraint(Column('id', Integer(), table=<user_account>, primary_key=True, nullable=False))

In [23]:
user_table.c.id

Column('id', Integer(), table=<user_account>, primary_key=True, nullable=False)

In [24]:
from sqlalchemy import ForeignKey
address_table = Table(
    "address",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("user_id", ForeignKey("user_account.id"), nullable=False),
    Column("email_address", String, nullable=False),
)

In [25]:
metadata_obj.create_all(engine)

2024-08-13 18:34:46,853 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 18:34:46,855 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2024-08-13 18:34:46,856 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 18:34:46,859 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_account")
2024-08-13 18:34:46,859 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 18:34:46,860 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2024-08-13 18:34:46,861 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 18:34:46,862 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2024-08-13 18:34:46,863 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 18:34:46,866 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id INTEGER NOT NULL,
	name VARCHAR(30),
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2024-08-13 18:34:46,866 INFO sqlalchemy.engine.Engine [no key 0.00091s] ()
2024-08-13 18:34:46,869 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	user_id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2024-08-13 18:34:46,870 INFO sqlalchemy.engine.Engine [no key 0.00085s] ()
2024-08-13 18:34:46,872 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
from sqlalchemy.orm import DeclarativeBase
class Base(DeclarativeBase):
    pass

In [27]:
Base.metadata

MetaData()

In [28]:
Base.registry

In [29]:
from typing import List
from typing import Optional
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship

class User(Base):
    __tablename__ = "user_account"
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(30))
    fullname: Mapped[Optional[str]]
    addresses: Mapped[List["Address"]] = relationship(back_populates="user")
    def __repr__(self) -> str:
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = "address"
    id: Mapped[int] = mapped_column(primary_key=True)
    email_address: Mapped[str]
    user_id = mapped_column(ForeignKey("user_account.id"))
    user: Mapped[User] = relationship(back_populates="addresses")
    def __repr__(self) -> str:
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [30]:
sandy = User(name="sandy", fullname="Sandy Cheeks")

In [31]:
Base.metadata.create_all(engine)

2024-08-13 19:24:23,350 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 19:24:23,356 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2024-08-13 19:24:23,357 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:24:23,359 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2024-08-13 19:24:23,360 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:24:23,360 INFO sqlalchemy.engine.Engine COMMIT

In [32]:
some_table = Table("some_table", metadata_obj, autoload_with=engine)

2024-08-13 19:26:59,468 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 19:26:59,470 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("some_table")
2024-08-13 19:26:59,471 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:26:59,474 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-08-13 19:26:59,475 INFO sqlalchemy.engine.Engine [raw sql] ('some_table',)
2024-08-13 19:26:59,477 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("some_table")
2024-08-13 19:26:59,477 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:26:59,479 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("some_table")
2024-08-13 19:26:59,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:26:59,481 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-08-13 19:26:59,482 INFO sqlalchemy.engine.Engine [raw sql] ('some_table',)
2024-08-13 19:26:59,486 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("some_table")
2024-08-13 19:26:59,487 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:26:59,489 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("some_table")
2024-08-13 19:26:59,490 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:26:59,491 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("some_table")
2024-08-13 19:26:59,491 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:26:59,492 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("some_table")
2024-08-13 19:26:59,493 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:26:59,494 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("some_table")
2024-08-13 19:26:59,494 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:26:59,495 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("some_table")
2024-08-13 19:26:59,496 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 19:26:59,497 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-08-13 19:26:59,497 INFO sqlalchemy.engine.Engine [raw sql] ('some_table',)
2024-08-13 19:26:59,500 INFO sqlalchemy.engine.Engine ROLLBACK

In [33]:
some_table

Table('some_table', MetaData(), Column('x', INTEGER(), table=<some_table>), Column('y', INTEGER(), table=<some_table>), schema=None)

In [34]:
sandy = User(name="sandy", fullname="Sandy Cheeks")

In [35]:
sandy

User(id=None, name='sandy', fullname='Sandy Cheeks')

In [36]:
from sqlalchemy import insert
stmt = insert(user_table).values(name="spongebob", fullname="Spongebob Squarepants")

In [37]:
print(stmt)

INSERT INTO user_account (name, fullname) VALUES (:name, :fullname)

In [38]:
compiled = stmt.compile()

In [39]:
compiled

In [40]:
compiled.params

{'name': 'spongebob', 'fullname': 'Spongebob Squarepants'}

In [41]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

2024-08-13 23:18:31,099 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 23:18:31,103 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2024-08-13 23:18:31,105 INFO sqlalchemy.engine.Engine [generated in 0.01133s] ('spongebob', 'Spongebob Squarepants')
2024-08-13 23:18:31,110 INFO sqlalchemy.engine.Engine COMMIT

In [42]:
result.inserted_primary_key

(1,)

In [44]:
type(result)

sqlalchemy.engine.cursor.CursorResult

In [45]:
print(insert(user_table))

INSERT INTO user_account (id, name, fullname) VALUES (:id, :name, :fullname)

In [46]:
with engine.connect() as conn:
    result = conn.execute(
        insert(user_table),
        [
            {"name": "sandy", "fullname": "Sandy Cheeks"},
            {"name": "patrick", "fullname": "Patrick Star"},
        ],
    )
    conn.commit()

2024-08-13 23:24:19,590 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 23:24:19,591 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2024-08-13 23:24:19,592 INFO sqlalchemy.engine.Engine [generated in 0.00187s] [('sandy', 'Sandy Cheeks'), ('patrick', 'Patrick Star')]
2024-08-13 23:24:19,593 INFO sqlalchemy.engine.Engine COMMIT

In [47]:
from sqlalchemy import select, bindparam
scalar_subq = (
    select(user_table.c.id)
    .where(user_table.c.name == bindparam("username"))
    .scalar_subquery()
)

with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_subq),
        [
            {
                "username": "spongebob",
                "email_address": "spongebob@sqlalchemy.org",
            },
            {"username": "sandy", "email_address": "sandy@sqlalchemy.org"},
            {"username": "sandy", "email_address": "sandy@squirrelpower.org"},
        ],
    )
    conn.commit()

2024-08-13 23:31:22,660 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 23:31:22,661 INFO sqlalchemy.engine.Engine INSERT INTO address (user_id, email_address) VALUES ((SELECT user_account.id
FROM user_account
WHERE user_account.name = ?), ?)
2024-08-13 23:31:22,662 INFO sqlalchemy.engine.Engine [generated in 0.00239s] [('spongebob', 'spongebob@sqlalchemy.org'), ('sandy', 'sandy@sqlalchemy.org'), ('sandy', 'sandy@squirrelpower.org')]
2024-08-13 23:31:22,663 INFO sqlalchemy.engine.Engine COMMIT

In [48]:
print(insert(user_table).values().compile(engine))

INSERT INTO user_account DEFAULT VALUES

In [49]:
insert_stmt = insert(address_table).returning(
    address_table.c.id, address_table.c.email_address
)
print(insert_stmt)

INSERT INTO address (id, user_id, email_address) VALUES (:id, :user_id, :email_address) RETURNING address.id, address.email_address

In [50]:
select_stmt = select(user_table.c.id, user_table.c.name + "@aol.com")
insert_stmt = insert(address_table).from_select(
    ["user_id", "email_address"], select_stmt
)
print(insert_stmt.returning(address_table.c.id, address_table.c.email_address))

INSERT INTO address (user_id, email_address) SELECT user_account.id, user_account.name || :name_1 AS anon_1
FROM user_account RETURNING address.id, address.email_address

In [51]:
from sqlalchemy import select
stmt = select(user_table).where(user_table.c.name == "spongebob")
print(stmt)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [52]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

2024-08-13 23:52:16,882 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 23:52:16,884 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ?
2024-08-13 23:52:16,885 INFO sqlalchemy.engine.Engine [generated in 0.00252s] ('spongebob',)
(1, 'spongebob', 'Spongebob Squarepants')
2024-08-13 23:52:16,887 INFO sqlalchemy.engine.Engine ROLLBACK

In [53]:
stmt = select(User).where(User.name == "spongebob")
with Session(engine) as session:
    for row in session.execute(stmt):
        print(row)

2024-08-13 23:53:45,542 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 23:53:45,546 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ?
2024-08-13 23:53:45,547 INFO sqlalchemy.engine.Engine [generated in 0.00106s] ('spongebob',)
(User(id=1, name='spongebob', fullname='Spongebob Squarepants'),)
2024-08-13 23:53:45,549 INFO sqlalchemy.engine.Engine ROLLBACK

In [54]:
print(select(user_table))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [55]:
print(select(user_table.c.name, user_table.c.fullname))

SELECT user_account.name, user_account.fullname
FROM user_account

In [56]:
print(select(user_table.c["name", "fullname"]))

SELECT user_account.name, user_account.fullname
FROM user_account

In [57]:
print(select(User))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [58]:
row = session.execute(select(User)).first()
row

2024-08-14 00:04:37,386 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-14 00:04:37,390 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
2024-08-14 00:04:37,391 INFO sqlalchemy.engine.Engine [generated in 0.00096s] ()

(User(id=1, name='spongebob', fullname='Spongebob Squarepants'),)

In [59]:
row[0]

User(id=1, name='spongebob', fullname='Spongebob Squarepants')

In [60]:
user = session.scalars(select(User)).first()
user

2024-08-14 00:06:39,565 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
2024-08-14 00:06:39,566 INFO sqlalchemy.engine.Engine [cached since 122.2s ago] ()

User(id=1, name='spongebob', fullname='Spongebob Squarepants')

In [61]:
print(select(User.name, User.fullname))

SELECT user_account.name, user_account.fullname
FROM user_account

In [62]:
row = session.execute(select(User.name, User.fullname)).first()
row

2024-08-14 00:07:46,753 INFO sqlalchemy.engine.Engine SELECT user_account.name, user_account.fullname
FROM user_account
2024-08-14 00:07:46,754 INFO sqlalchemy.engine.Engine [generated in 0.00108s] ()

('spongebob', 'Spongebob Squarepants')

In [63]:
session.execute(
    select(User.name, Address).where(User.id == Address.user_id).order_by(Address.id)
).all()

2024-08-14 00:07:52,634 INFO sqlalchemy.engine.Engine SELECT user_account.name, address.id, address.email_address, address.user_id
FROM user_account, address
WHERE user_account.id = address.user_id ORDER BY address.id
2024-08-14 00:07:52,636 INFO sqlalchemy.engine.Engine [generated in 0.00132s] ()

[('spongebob', Address(id=1, email_address='spongebob@sqlalchemy.org')),
 ('sandy', Address(id=2, email_address='sandy@sqlalchemy.org')),
 ('sandy', Address(id=3, email_address='sandy@squirrelpower.org'))]

In [64]:
from sqlalchemy import func, cast
stmt = select(
    ("Username: " + user_table.c.name).label("username"),
).order_by(user_table.c.name)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

2024-08-14 00:11:22,282 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-14 00:11:22,283 INFO sqlalchemy.engine.Engine SELECT ? || user_account.name AS username
FROM user_account ORDER BY user_account.name
2024-08-14 00:11:22,283 INFO sqlalchemy.engine.Engine [generated in 0.00192s] ('Username: ',)
Username: patrick
Username: sandy
Username: spongebob
2024-08-14 00:11:22,285 INFO sqlalchemy.engine.Engine ROLLBACK

In [70]:
("Username: " + user_table.c.name).label("username")

In [68]:
user_table.c.name

Column('name', String(length=30), table=<user_account>)

In [72]:
type(user_table.c)

sqlalchemy.sql.base.ReadOnlyColumnCollection

In [76]:
from sqlalchemy import func, cast
stmt = select(
    ("Username: " + user_table.c.name).label("toto"),
).order_by(user_table.c.name)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.toto}")

2024-08-14 06:18:05,151 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-14 06:18:05,173 INFO sqlalchemy.engine.Engine SELECT ? || user_account.name AS toto
FROM user_account ORDER BY user_account.name
2024-08-14 06:18:05,175 INFO sqlalchemy.engine.Engine [generated in 0.02367s] ('Username: ',)
Username: patrick
Username: sandy
Username: spongebob
2024-08-14 06:18:05,178 INFO sqlalchemy.engine.Engine ROLLBACK

In [77]:
from sqlalchemy import text
stmt = select(text("'some phrase'"), user_table.c.name).order_by(user_table.c.name)
with engine.connect() as conn:
    print(conn.execute(stmt).all())

2024-08-14 06:23:37,734 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-14 06:23:37,736 INFO sqlalchemy.engine.Engine SELECT 'some phrase', user_account.name
FROM user_account ORDER BY user_account.name
2024-08-14 06:23:37,736 INFO sqlalchemy.engine.Engine [generated in 0.00231s] ()
[('some phrase', 'patrick'), ('some phrase', 'sandy'), ('some phrase', 'spongebob')]
2024-08-14 06:23:37,739 INFO sqlalchemy.engine.Engine ROLLBACK

In [78]:
from sqlalchemy import text
stmt = select(text("'some phrase'"), user_table.c.id).order_by(user_table.c.id)
with engine.connect() as conn:
    print(conn.execute(stmt).all())

2024-08-14 06:24:24,352 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-14 06:24:24,353 INFO sqlalchemy.engine.Engine SELECT 'some phrase', user_account.id
FROM user_account ORDER BY user_account.id
2024-08-14 06:24:24,354 INFO sqlalchemy.engine.Engine [generated in 0.00157s] ()
[('some phrase', 1), ('some phrase', 2), ('some phrase', 3)]
2024-08-14 06:24:24,355 INFO sqlalchemy.engine.Engine ROLLBACK

In [82]:
from sqlalchemy import literal_column
stmt = select(literal_column("'some phrase'").label("arbitraire"), user_table.c.name).order_by(
    user_table.c.name
)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.arbitraire}, {row.name}")

2024-08-14 06:32:35,599 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-14 06:32:35,600 INFO sqlalchemy.engine.Engine SELECT 'some phrase' AS arbitraire, user_account.name
FROM user_account ORDER BY user_account.name
2024-08-14 06:32:35,601 INFO sqlalchemy.engine.Engine [generated in 0.00264s] ()
some phrase, patrick
some phrase, sandy
some phrase, spongebob
2024-08-14 06:32:35,603 INFO sqlalchemy.engine.Engine ROLLBACK

In [83]:
print(user_table.c.name == "squidward")

user_account.name = :name_1

In [84]:
print(address_table.c.user_id > 10)

address.user_id > :user_id_1

In [85]:
print(select(user_table).where(user_table.c.name == "squidward"))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [86]:
print(
    select(address_table.c.email_address).where(
        user_table.c.name == "squidward",
        address_table.c.user_id == user_table.c.id,
    )
)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [87]:
from sqlalchemy import and_, or_
print(
    select(Address.email_address).where(
        and_(
            or_(User.name == "squidward", User.name == "sandy"),
            Address.user_id == User.id,
        )
    )
)

SELECT address.email_address
FROM address, user_account
WHERE (user_account.name = :name_1 OR user_account.name = :name_2) AND address.user_id = user_account.id

In [88]:
print(select(User).filter_by(name="spongebob", fullname="Spongebob Squarepants"))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1 AND user_account.fullname = :fullname_1

In [89]:
print(select(user_table.c.name))

SELECT user_account.name
FROM user_account

In [90]:
print(select(user_table.c.name, address_table.c.email_address))

SELECT user_account.name, address.email_address
FROM user_account, address

In [91]:
select(user_table.c.name, address_table.c.email_address)

In [96]:
stmt = select(user_table.c.name, address_table.c.email_address)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.name}, {row.email_address}")

2024-08-14 06:59:54,433 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-14 06:59:54,434 INFO sqlalchemy.engine.Engine SELECT user_account.name, address.email_address
FROM user_account, address
2024-08-14 06:59:54,435 INFO sqlalchemy.engine.Engine [cached since 171.5s ago] ()
spongebob, spongebob@sqlalchemy.org
spongebob, sandy@sqlalchemy.org
spongebob, sandy@squirrelpower.org
sandy, spongebob@sqlalchemy.org
sandy, sandy@sqlalchemy.org
sandy, sandy@squirrelpower.org
patrick, spongebob@sqlalchemy.org
patrick, sandy@sqlalchemy.org
patrick, sandy@squirrelpower.org
2024-08-14 06:59:54,437 INFO sqlalchemy.engine.Engine ROLLBACK

In [97]:
print(
    select(user_table.c.name, address_table.c.email_address).join_from(
        user_table, address_table
    )
)

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [98]:
stmt = select(user_table.c.name, address_table.c.email_address).join_from(user_table, address_table)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.name}, {row.email_address}")

2024-08-14 07:03:33,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-14 07:03:33,404 INFO sqlalchemy.engine.Engine SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id
2024-08-14 07:03:33,404 INFO sqlalchemy.engine.Engine [generated in 0.00211s] ()
spongebob, spongebob@sqlalchemy.org
sandy, sandy@sqlalchemy.org
sandy, sandy@squirrelpower.org
2024-08-14 07:03:33,406 INFO sqlalchemy.engine.Engine ROLLBACK

In [99]:
print(select(user_table.c.name, address_table.c.email_address).join(address_table))

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [100]:
func

In [101]:
print(select(func.count("*")).select_from(user_table))

SELECT count(:count_2) AS count_1
FROM user_account

In [104]:
stmt = select(func.count("*")).select_from(user_table)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"Count : {row[0]}")

2024-08-14 07:16:03,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-14 07:16:03,536 INFO sqlalchemy.engine.Engine SELECT count(?) AS count_1
FROM user_account
2024-08-14 07:16:03,537 INFO sqlalchemy.engine.Engine [cached since 77.85s ago] ('*',)
Count : 3
2024-08-14 07:16:03,539 INFO sqlalchemy.engine.Engine ROLLBACK